/*

CSS for main HTML

Author: hung.luong@matocreative.vn

*/

body{
	width: 100%;
	overflow-x: hidden;
}

/* CSS Header */

header{
	position:relative;
}

header .cover{
	width:100%;
	min-height:200px;
}

.navbar-default{
	background-color:transparent;
	border-color:transparent;
}

.navbar-brand{
	height: auto;
}

.navbar-brand img{
	width: 250px;
}

.navbar-nav{
	margin-top: 35px !important;
}

.navbar-nav li ul li{
	
}

.navbar-nav li > a:hover{
	border-radius: 10px;
}

.navbar-nav li.cyan > a{
	color: #6bbfc2;
}

.navbar-nav li.orange > a{
	color: #f26f5a;
}

.navbar-nav li.yellow > a{
	color: #f4aa1c;
}

.navbar-nav li.pink > a{
	color: #f38991;
}

.navbar-nav li.cyan > a:hover{
	background: #6bbfc2;
	color: #fff;
}

.navbar-nav li.orange > a:hover{
	background: #f26f5a;
	color: #fff;
}

.navbar-nav li.yellow > a:hover{
	background: #f4aa1c;
	color: #fff;
}

.navbar-nav li.pink > a:hover{
	background: #f38991;
	color: #fff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	border-radius: 10px;
}

.dropdown-menu{
	border-radius: 10px;
}

ul.cyan li a:hover{
	background: #6bbfc2;
	color: #fff;
}

ul.orange li a:hover{
	background: #f26f5a;
	color: #fff;
}

ul.yellow li a:hover{
	background: #f4aa1c;
	color: #fff;
}

ul.pink li a:hover{
	background: #f38991;
	color: #fff;
}

/* CSS Main Content */

.screen_title{
	width: 50%;
	margin-top: 10%;
	margin-left: 25%;
	margin-bottom: 100px;
	text-align: center;
}

.screen_title h1, .screen_title h2{
	color: #f4aa1c;
}

a h1, a h2{
	color: #f4aa1c;
}

textarea {
	overflow: hidden;
	resize: none;
}

ul.list-unstyled li{
	background-image: url(../img/bg_list.png);
	background-repeat: no-repeat;
	background-position-y: 8px;
	padding-left: 15px;
}

.footer ul.list-unstyled li{
	background-image: none;
}


/* CSS Footer */

.footer{
	margin-top: 0em;
	position: relative;
	padding-bottom: 50px;
	background-color: #f38991;
	background-image: url(../img/footer_bg.png);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.footer h2{
	margin-top: 0;
}

.subscribe {
	padding-top: 15px;
	padding-bottom: 15px;
	color: #fff;
	border-top: 3px dashed#fff;
	border-bottom: 3px dashed #fff;
	margin-bottom: 30px;
}

.bottom_nav ul li a{
	color: #fff;
}

.bottom_nav h3{
	color: #fff;
}

button#surveyOn{
	position: fixed;
	top:50%;
	right: 0;
	z-index: 999;
	border-radius: 50%;

}


.modal#survey .modal-header{
	min-height: 75px;
	background-image: url(../img/bg_modal_header.png);
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.scrollup {
	padding: 10px;
	position: fixed;
	z-index: 999;
	bottom: 50px;
	right: 50px;
	display: none;
	text-align: center;
	background: #50b748;
	background: -moz-linear-gradient(45deg, #50b748 0%, #008b44 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, #50b748), color-stop(100%, #008b44));
	background: -webkit-linear-gradient(45deg, #50b748 0%, #008b44 100%);
	background: -o-linear-gradient(45deg, #50b748 0%, #008b44 100%);
	background: -ms-linear-gradient(45deg, #50b748 0%, #008b44 100%);
	background: linear-gradient(45deg, #50b748 0%, #008b44 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50b748', endColorstr='#008b44', GradientType=1 );
	color: #fff;
	border-radius: 50%;
}

.scrollup:hover{
	cursor: pointer;
}
